* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
}

header {
    background: #001a6e;
    color: white;
    height: 10rem;
}

header .head {
    display: flex;
    height: 100%;
    align-items: center;
}

header .head h1 {
    font-size: 4rem;
    font-weight: 900;
}

header input[type=text] {
    height: 25px;
    width: 250px;
}

.headerForm {
    display: flex;
    align-items: center;
}

.headerForm span {
    margin: 10px;
}

.headerForm p {
    margin: 0;
    margin-bottom: 5px;
}

.headerForm a {
    color: white;
    text-decoration: none;
}

.login-btn {
    width: 90px;
    border: 2px solid black;
}

.panel1 h1 {
    color: #001a6e;
    font-size: 2.2rem;
}

.panel1 h3 {
    color: #0f0968;
}

.panel1 img {
    mix-blend-mode: multiply;
}

.lightBackground {
    background-color: #f5f8ff;
}

.panel2 h1 {
    font-size: 4rem;
}

.panel2 {
    margin-left: 40px;
}

.panel2 h1,
.panel2 h4 {
    color: #001a6e;
    font-weight: normal;
}

.panel2 input[type=text],
.panel2 input[type=date] {
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 460px;
}

.panel2 input[type=date] {
    width: 200px;
}

.fname,
.lname {
    width: 230px !important;
}
#asdfg
{
    
    width: 230px ;
    /* height: 200px; */

}


.panel2 span,
.panel2 p,
.panel2 a {
    font-size: 1.5rem;
    color: #001a6e;
    margin: 0;
    text-decoration: none;
}

.panel2 button {
    background-color: #119911;
    color: white;
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 2px solid black;
}